<?xml version="1.0"?>
<!--
/**
* Webindiainc_Neogateway
*
* @category    Neogateway
* @package     Webindiainc_Neogateway
* @copyright   Webindiainc (http://webindiainc.com)
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Webindiainc_ProductBackButton" setup_version="1.0.0">
    </module>
</config>
