<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Magento/Store/etc/config.xsd">
    <default>
        <securecheckout>
            <actions>
                <ApplyPointsSecureCheckoutPost>
                    <payment_method>secure-checkout-payment-method-available</payment_method>
                    <review_cart>secure-checkout-review-item</review_cart>
                    <review_coupon>one.step.checkout.container.form.review.coupon</review_coupon>
                </ApplyPointsSecureCheckoutPost>
            </actions>
        </securecheckout>
        <mirasvit>
            <rewards>
                <enabled>1</enabled>
            </rewards>
        </mirasvit>
        <rewards>
            <general>
                <point_unit_name>Reward Point(s)</point_unit_name>
                <expires_after_days>60</expires_after_days>
                <is_earn_after_invoice>1</is_earn_after_invoice>
                <is_earn_after_shipment>0</is_earn_after_shipment>
                <earn_in_statuses>complete</earn_in_statuses>
                <is_include_tax_earning>1</is_include_tax_earning>
                <is_include_tax_spending>1</is_include_tax_spending>
                <is_cancel_after_refund>1</is_cancel_after_refund>
                <is_restore_after_refund>1</is_restore_after_refund>
                <is_earn_shipping>0</is_earn_shipping>
                <is_spend_shipping>1</is_spend_shipping>
                <is_allow_zero_orders>1</is_allow_zero_orders>
                <is_display_product_points_as_money>0</is_display_product_points_as_money>
            </general>
            <notification>
                <balance_update_email_template>rewards_notification_balance_update_email_template</balance_update_email_template>
                <points_expire_email_template>rewards_notification_points_expire_email_template</points_expire_email_template>
                <send_before_expiring_days>5</send_before_expiring_days>
            </notification>
            <referral>
                <is_active>1</is_active>
                <invitation_email_template>rewards_referral_invitation_email_template</invitation_email_template>
            </referral>
            <display_options>
                <is_show_points_menu>1</is_show_points_menu>
                <is_show_points_on_frontend>1</is_show_points_on_frontend>
                <is_show_points_on_product_page>1</is_show_points_on_product_page>
            </display_options>
        </rewards>
        <rewardssocial>
            <facebook>
                <is_active>1</is_active>
                <show_fb_share>1</show_fb_share>
            </facebook>
            <twitter>
                <is_active>1</is_active>
            </twitter>
            <googleplus>
                <is_active>1</is_active>
            </googleplus>
            <pinterest>
                <is_active>1</is_active>
            </pinterest>
        </rewardssocial>
    </default>
</config>
